# =========================
# Built files
# =========================
*.apk
*.aab
*.ap_
*.dex
*.class
*.so

# =========================
# Gradle
# =========================
.gradle/
build/
*/build/

# Local configuration
local.properties

# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws

# User-specific files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# NDK
# =========================
.externalNativeBuild/
.cxx/

# =========================
# Keystore files (IMPORTANT 🔐)
# =========================
*.jks
*.keystore

# =========================
# Google Services
# =========================
google-services.json

# =========================
# Firebase Crashlytics
# =========================
com_crashlytics_export_strings.xml
crashlytics.properties

# =========================
# Kotlin
# =========================
.kotlin/

# =========================
# Misc
# =========================
captures/
outputs/
.navigation/

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*~